[Unit]
Description=Daily Vaultwarden restic backup

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=backup-vaultwarden.service

[Install]
WantedBy=timers.target
